@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  color: white; /* Warna teks utama */
  -webkit-text-stroke-width: 1px; /* Lebar stroke */
  -webkit-text-stroke-color: black; /* Warna stroke */
}
